body {
  font-family: 'Roboto Slab', serif;
  background-image: url("https://wallpapercave.com/wp/cqhO8rQ.jpg");
  background-position: left bottom;
  background-size: cover;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #909090;
  color: black;
}

tr:nth-child(even) {
  background-color: #B4B4B4;
}

tr:nth-child(odd) {
  background-color: #D4D4D4;
}

img {
  width: 150px;
  height: auto;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: center;
}